<section class="content-top-margin page-title-small border-bottom-light border-top-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="black-text">About Company</h1>
                <!-- end page title -->
            </div>
            <div class="col-md-4 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                <!-- breadcrumb -->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>About Company</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->
<!-- content section -->
<section class="wow fadeIn cover-background" style="background-image:url('http://placehold.it/1920x823');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8">
                <div class="separator-line bg-yellow no-margin-lr no-margin-top"></div>
                <div class="white-text slider-subtitle1 bg-inherit no-margin text-left no-padding">Design. Create. Innovate.</div>

            </div>
        </div>
    </div>
</section>
<section class="border-bottom-light sm-text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-7"><img src="images/about-us-img-12.png" alt=""/></div>
            <div class="col-md-5">
                <h1 class="title-extra-large font-weight-700 black-text margin-five text-transform-none">What we do</h1>
                <p class="title-small font-weight-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum industry's standard dummy text.</p>
                <p class="title-small font-weight-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
        </div>
    </div>
</section>
<section class="border-bottom-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn animated margin-eight no-margin-top">
                <h1 class="title-extra-large font-weight-700 black-text text-transform-none display-inline-block vertical-align-bottom">We specialise in</h1>
                <img src="images/specialise-title-icon.png" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 xs-margin-bottom-five">
                <div class="bg-black padding-twenty-nine md-padding-five text-center specialise-box">
                    <div class="margin-ten-bottom xs-margin-bottom-five"><img src="images/about-us-icon01.png" alt=""/></div>
                    <div class="title-small yellow-text text-transform-uppercase font-weight-700 margin-four-bottom">Strategy</div>
                    <p class="text-med no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum industry's standard dummy text.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 xs-margin-bottom-five">
                <div class="bg-black padding-twenty-nine md-padding-five text-center specialise-box">
                    <div class="margin-ten-bottom xs-margin-bottom-five"><img src="images/about-us-icon02.png" alt=""/></div>
                    <div class="title-small yellow-text text-transform-uppercase font-weight-700 margin-four-bottom">Design</div>
                    <p class="text-med no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum industry's standard dummy text.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                    <div class="bg-black padding-twenty-nine md-padding-five text-center specialise-box">
                    <div class="margin-ten-bottom xs-margin-bottom-five"><img src="images/about-us-icon03.png" alt=""/></div>
                    <div class="title-small yellow-text text-transform-uppercase font-weight-700 margin-four-bottom">Technology</div>
                    <p class="text-med no-margin">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum industry's standard dummy text.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="restaurant-our-service bg-gray" id="our-service">
    <div class="container">  
        <div class="row margin-ten-bottom xs-no-margin-bottom">
            <!-- service item -->
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-bottom-ten">
                <img alt="" src="images/about-us-icon04.png">
                <p class="text-extra-large text-uppercase black-text font-weight-600 margin-ten margin-four-bottom xs-margin-top-four">Web & ui</p>
                <p class="text-med margin-two width-90 center-col">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p> 
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-bottom-ten">
                <img alt="" src="images/about-us-icon05.png">
                <p class="text-extra-large text-uppercase black-text font-weight-600 margin-ten margin-four-bottom xs-margin-top-four">Graphics</p>
                <p class="text-med margin-two width-90 center-col">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p> 
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-bottom-ten">
                <img alt="" src="images/about-us-icon06.png">
                <p class="text-extra-large text-uppercase black-text font-weight-600 margin-ten margin-four-bottom xs-margin-top-four">Identity</p>
                <p class="text-med margin-two width-90 center-col">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p> 
            </div>
            <!-- end service item --> 
        </div>
        <div class="row">
            <!-- service item -->
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-bottom-ten">
                <img alt="" src="images/about-us-icon07.png">
                <p class="text-extra-large text-uppercase black-text font-weight-600 margin-ten margin-four-bottom xs-margin-top-four">Branding</p>
                <p class="text-med margin-two width-90 center-col">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p> 
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-bottom-ten">
                <img alt="" src="images/about-us-icon08.png">
                <p class="text-extra-large text-uppercase black-text font-weight-600 margin-ten margin-four-bottom xs-margin-top-four">UX Design</p>
                <p class="text-med margin-two width-90 center-col">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p> 
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 col-sm-4 col-xs-12 text-center xs-margin-bottom-ten">
                <img alt="" src="images/about-us-icon09.png">
                <p class="text-extra-large text-uppercase black-text font-weight-800 margin-ten margin-four-bottom xs-margin-top-four">Statistics</p>
                <p class="text-med margin-two width-90 center-col">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p> 
            </div>
            <!-- end service item --> 
        </div>
    </div>
</section>
<section class="wow fadeIn animated bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center center-col margin-ten-bottom">
                <p class="slider-title-big8 font-weight-300 white-text">What makes us different? Our work, our passion and our people.</p> 
            </div>
        </div> 
        <div class="row">
            <!-- team member -->
            <div data-wow-duration="300ms" class="col-md-4 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                <img alt="" src="http://placehold.it/900x990">
                <figure class="position-relative">
                    <span class="team-name text-uppercase white-text letter-spacing-2 display-block font-weight-600">Alexander Harvard</span>
                    <span class="team-post text-uppercase letter-spacing-2 display-block">Co Founder / CEO</span>
                    <div class="person-social margin-five no-margin-bottom"><a href="#"><i class="fa fa-facebook white-text"></i></a><a href="#"><i class="fa fa-twitter white-text"></i></a><a href="#"><i class="fa fa-google-plus white-text"></i></a></div>
                </figure>
                <div class="team-details">
                    <h5 class="team-headline white-text text-uppercase font-weight-600">I am Punctual</h5>
                    <p class="width-70 center-col light-gray-text margin-five">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    <div class="separator-line-thick bg-white"></div>
                </div>
            </div>
            <!-- end team member -->
            <!-- team member -->
            <div data-wow-duration="600ms" class="col-md-4 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                <img alt="" src="http://placehold.it/900x990">
                <figure class="position-relative">
                    <span class="team-name text-uppercase white-text letter-spacing-2 display-block font-weight-600">Herman Miller</span>
                    <span class="team-post text-uppercase letter-spacing-2 display-block">Co-Founder / Design</span>
                    <div class="person-social margin-five no-margin-bottom"><a href="#"><i class="fa fa-facebook white-text"></i></a><a href="#"><i class="fa fa-twitter white-text"></i></a><a href="#"><i class="fa fa-google-plus white-text"></i></a></div>
                </figure>
                <div class="team-details">
                    <h5 class="team-headline white-text text-uppercase font-weight-600">I am Creative</h5>
                    <p class="width-70 center-col light-gray-text margin-five">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    <div class="separator-line-thick bg-white"></div>
                </div>
            </div>
            <!-- end team member -->
            <!-- team member -->
            <div data-wow-duration="900ms" class="col-md-4 col-sm-12 text-center team-member position-relative wow fadeInUp animated">
                <img alt="" src="http://placehold.it/900x990">
                <figure class="position-relative">
                    <span class="team-name text-uppercase white-text letter-spacing-2 display-block font-weight-600">Bryan Jonhson</span>
                    <span class="team-post text-uppercase letter-spacing-2 display-block">Art Director</span>
                    <div class="person-social margin-five no-margin-bottom"><a href="#"><i class="fa fa-facebook white-text"></i></a><a href="#"><i class="fa fa-twitter white-text"></i></a><a href="#"><i class="fa fa-google-plus white-text"></i></a></div>
                </figure>
                <div class="team-details">
                    <h5 class="team-headline white-text text-uppercase font-weight-600">I am Hungry</h5>
                    <p class="width-70 center-col light-gray-text margin-five">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    <div class="separator-line-thick bg-white"></div>
                </div>
            </div>
            <!-- end team member --> 
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 sm-margin-bottom-four text-center"><a href="#"><img alt="" src="images/shabby-chic.png"></a></div>
            <div class="col-md-3 col-sm-6 sm-margin-bottom-four text-center"><a href="#"><img alt="" src="images/wandered.png"></a></div>
            <div class="col-md-3 col-sm-6 xs-margin-bottom-four text-center"><a href="#"><img alt="" src="images/lumberjacket.png"></a></div>
            <div class="col-md-3 col-sm-6 text-center"><a href="#"><img alt="" src="images/explore.png"></a></div>
        </div> 
    </div>
</section>